html,
body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #0c3f5d;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  height: 100%;
  position: relative;
  background: repeat url(../img/bg.svg);
}

#map {
  bottom:0px;
  height: 100%;
  position: absolute;
  right: 0px;
}

.left330 {
  left: 330px;
}

.left0 {
  left: 0;
}

.leftBar {
  padding: 20px;
  position: fixed;
  z-index: 1;
  overflow-x: hidden;
  transition: 0.5s;
  width: 330px;
}

.padding20{
  padding: 0 20px 0;
}

.width0 {
  width: 0;
}

h1 {
  font-size: 22px;
}

.notes{
  font-size: 14px;
  font-style: italic;
  color: #4393c1;
  background: url(../img/restaurant.svg) no-repeat 0 0;
}

input {
  margin-left: 20px;
  border: 1px solid #4CABE1;
  color: #4CABE1;
  height: 26px;
  width: 220px;
}

input::-webkit-input-placeholder { /* WebKit browsers */
color: #4CABE1;
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
color: #999;
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
color: #999;
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
color: #999;
}

.placeOfInterests {
   list-style-image: url(../img/interest.svg);
   line-height: 24px;
   cursor: pointer;
}

.yelpWindow{
  width: 200px;
}

.yelpPic{
  max-width: 160px;
  max-height: 160px;
}

.sidebarButton {
  width: 100%;
  height: 36px;
  display: flex;
  justify-content: flex-end;
}

.sidebarButton a {
  margin-top: 18px;
  display: inline-block;
  opacity: 0.5;
  transition: 0.3s;
}

.sidebarButton a:hover {
  opacity: 1;
}

#hide_restaurants {
  background: #e6f3fa;
  border-radius: 6px;
}
